/* CSS Wolfgar's assignment 3 - Terminator 2 Movie Poster
--------------------------------------------------*/
* {
	padding: 0;
	margin: 0;
}

/*BODY */

body {
	background-image: url("../images/posterWithoutText.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: auto;
	font-family: 'Agency FB',sans-serif;
	color: white;
	background-color: #03070a;
}

/* TITLES/HEADINGS */

header {
	transform: scale(1.15,0.65);
	margin: -17px;
	font-size: 39px;
	text-transform: uppercase;
	font-weight: bolder;
}

h1 {
	text-align: center;
	color: #be050b;
	text-shadow: 2px 2px white;
}

main {
	text-transform: uppercase;
	text-align: center
}

h2 {
	margin-top: 650px;
	margin-bottom: -5px;
	font-size: 24px;
}

div#subtitle {
	transform: scale(1.15,0.8);
	text-shadow: 1px 3px #be050b;
}

h3 {
	font-size: 53.5px;
}

h4 {
	margin: -5px;
	font-size: 47px;
	text-decoration: overline;
}

/* ARTICLE */

article {
	margin-top: 8px;
	/*margin-left: 648px;*/
	margin-left: 34.4%;
	/*margin-right: 648px;*/
	margin-right: 34.4%;
	text-align: center;
	font-size: 12px;
	color: gray;
}

span#medium {
	font-size: 6px;
}

span#small {
	font-size: 3px;
}

/* COPYRIGHTS & LOGOS */

img#carolco {
	float: left;
	/*margin-left: 654px;*/
	margin-left: 34.4%;
}

img#dolby {
	float: left;
	margin-left: 10px;
}

img#tristar {
	float: right;
	margin-right: 34.4%;
}

p#tritext {
	text-align: right;
	float: right;
}

/* FOOTER */

footer {
	margin-top: 60px;
	clear: both;
	text-align: center;
	font-size: 24px;
	margin-bottom: 40px;
}

audio#controls {
	margin-top: 40px;
}